
@using SalaryCalc.Dtos
@model List<SalesReportByDateDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = new System.Globalization.CultureInfo("az");
}


<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
    <div class="container-fluid">

        <div class="header-body">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Rüblük</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="@Url.Action("index","reports")" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">

                                    <tr>
                                        <th scope="col">Rüblük</th>
                                        <th scope="col">Sayı</th>
                                        <th scope="col">Endirim</th>
                                        <th scope="col">Təsdiqlənib</th>
                                        <th scope="col">Təsdiqlənməyib</th>
                                        <th scope="col">Vip</th>
                                        <th scope="col">Excel vasitəsilə yüklənmişdi</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.quarterly</td>
                                        <td>@item.TotalCount</td>
                                        <td>@item.TotalDisCount</td>
                                        <td>@item.TotalIsComfirmed</td>
                                        <td>@item.totalNotConfirmed</td>
                                        <td>@item.TotalVip</td>
                                        <td>@item.TotalImported</td>
                                    </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
