
@using SalaryCalc.Dtos
@model List<SaleReportDetailsDto>
@{
    ViewBag.Title = "SaleReportByWorkers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
    <div class="container-fluid">
        @if (Session["Error"] != null)
        {
            <div class="alert alert-danger text-center">
                @Session["Error"]
            </div>

            Session["Error"] = null;
        }
        <div class="header-body">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <a href="@Url.Action("ExportSaleReportByWorkers","reports")" class="btn btn-sm btn-success"><i class="ni ni-fat-add"></i>Export Et</a>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="@Url.Action("index","reports")" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">İşçi Adı</th>
                                        <th scope="col">Sayı</th>
                                        <th scope="col">Endirim</th>
                                        <th scope="col">Vip</th>
                                        <th scope="col">Təsdiqlənib</th>
                                        <th scope="col">Təsdiqlənməyib</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{int i = 1;}

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@item.UserName</td>
                                        <td>@item.TotalCount</td>
                                        <td>@item.TotalDisCount</td>
                                        <td>@item.TotalVip</td>
                                        <td>@item.TotalIsComfirmed</td>
                                        <td>@item.totalNotConfirmed</td>
                                        <td>
                                            <a href="@Url.Action("salerepobyworkerdetails","reports",new { id = item.UserId })" class="btn btn-sm btn-primary">Ətraflı</a>
                                        </td>
                                    </tr>

                                        i++;
                                    }

                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example" class="mt-4">
                                <ul class="pagination">

                                    @if (ViewBag.Page - 1 != 0)
                                    {
                                        <li class="page-item" data-page="@(ViewBag.Page - 1)">
                                            <a class="page-link" href="@Url.Action("index","sales",new{  page = ViewBag.Page-1 })">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }

                                    @for (int j = 1; j <= ViewBag.TotalPage; j++)
                                    {

                                        <li class="page-item @(j==ViewBag.Page?"active":"")" data-page="@j">
                                            <a class="page-link" href="@Url.Action("index","sales",new { page = j })">@j</a>
                                        </li>

                                    }

                                    @if (ViewBag.Page + 1 <= ViewBag.TotalPage)
                                    {
                                        <li class="page-item" data-page="@(ViewBag.Page+1)">
                                            <a class="page-link" href="@Url.Action("index","sales",new { page = ViewBag.Page + 1 })">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

