@using SalaryCalc.Models
@model List<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1 class="text-center mt-5">Vəzifələr</h1>
    <div class="row">

        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">İstifadəçi Adı</th>
                        <th scope="col">Adı Soyadı</th>
                        <th scope="col">Email</th>
                        <th scope="col">Vəzifəsi</th>
                        <th scope="col">Tənzimləmə</th>
                    </tr>
                </thead>
                <tbody>

                    @{int i = 1;}

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.UserName</td>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.Postion.Name</td>
                            <td>
                                <a href="@Url.Action("edit","users",new { id = item.Id })" class="editposition">Duzelis</a>
                                <a onclick="return confirm('Əminsinizmi?')" href="@Url.Action("delete","users",new { id = item.Id })">Sil</a>
                            </td>

                        </tr>

                        i++;
                    }


                </tbody>
            </table>

        </div>
    </div>
</div>
