@using DataAccessLayer;

@{
       User user = Session["LoggedUser"] as User;
    List<UserRole> UserRoles = (ViewContext.Controller as SalaryCalc.Controllers.BaseController).roles;
    string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
 }
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>

    </title>
    <!-- Favicon -->
    <link href="~/Public/assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="~/Public/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="~/Public/assets/js/plugins/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css"
          rel="stylesheet" type="text/css" />
    <link href="~/Public/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Public/assets/css/custom.css" rel="stylesheet" />

</head>

<body>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">

            <a class="navbar-brand pt-0 text-primary" href="javascipt:void(0)">
                Dinamik əmək <br /> haqqı hesablama  <br />sistemi
            </a>
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    @if (UserRoles.Any(a => a.Role.Controller == "Home" && a.Role.Action == "Index"))
                    {
                        <li class="nav-item">
                            <a class=" nav-link  @(controller =="Home" ? "active" : "") " href="@Url.Action("index","home")">
                                <i class="ni ni-tv-2 text-primary"></i> Ana Səhifə
                            </a>
                        </li>
                    }
                    @if (UserRoles.Any(a => a.Role.Controller == "Positions" && a.Role.Action == "Index"))
                    {
                        <li class="nav-item">
                            <a class=" nav-link @(controller =="positions" ? "active" : "")" href="@Url.Action("index","positions")">
                                <i class="ni ni-bullet-list-67 text-red"></i> Vəzifələr
                            </a>
                        </li>
                    }
                    @if (UserRoles.Any(a => a.Role.Controller == "Users" && a.Role.Action == "Index"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(controller =="users" ? "active" : "")" href="@Url.Action("index", "users")">
                                <i class="ni ni-circle-08 text-default"></i> İşçilər
                            </a>
                        </li>
                    }
                    @if (UserRoles.Any(a => a.Role.Controller == "Sales" && a.Role.Action == "Index"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(controller =="sales" ? "active" : "")" href="@Url.Action("index", "sales")">
                                <i class="ni ni-cart text-orange"></i> Satışlar
                            </a>
                        </li>
                    }
                    @if (UserRoles.Any(a => a.Role.Controller == "Roles" && a.Role.Action == "Index"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(controller =="roles" ? "active" : "")" href="@Url.Action("index", "roles")">
                                <i class="ni ni-single-02 text-yellow"></i>Rollar
                            </a>
                        </li>
                    }
                    @if (UserRoles.Any(a => a.Role.Controller == "Calculation" && a.Role.Action == "Index"))
                    {
                        <li class="nav-item">
                            <a class="nav-link   @(ViewBag.Title  =="Hesablama Düsturu" ? "active" : "")" href="@Url.Action("index", "calculation")">
                                <i class="ni ni-caps-small text-success"></i>Hesablama Düsturları
                            </a>
                        </li>
                    }
                    @if (UserRoles.Any(a => a.Role.Controller == "Calculation" && a.Role.Action == "CalculateSalary"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Title  =="Maaş Hesablama" ? "active" : "")" href="@Url.Action("calculatesalary", "calculation")">
                                <i class="ni ni-chart-bar-32 text-blue"></i> Maaş Hesablama
                            </a>
                        </li>
                    }
                    @if (user.Postion.IsAdmin == true)
                    {
                        if (UserRoles.Any(a => a.Role.Controller == "Reports" && a.Role.Action == "Index"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(controller =="Reports" ? "active" : "")" href="@Url.Action("index", "reports")">
                                    <i class="ni ni-archive-2 text-success"></i>Hesabatlar
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        if (UserRoles.Any(a => a.Role.Controller == "Reports" && a.Role.Action == "Report"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(controller =="Reports" ? "active" : "")" href="@Url.Action("report", "reports")">
                                    <i class="ni ni-archive-2 text-success"></i>Hesabatlar
                                </a>
                            </li>
                        }
                    }

                    @if (UserRoles.Any(a => a.Role.Controller == "Reports" && a.Role.Action == "Report"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(controller =="Reports" ? "active" : "")" href="@Url.Action("report", "reports")">
                                <i class="ni ni-lock-circle-open text-danger"></i>Log
                            </a>
                        </li>
                    }

                </ul>
            </div>

        </div>
    </nav>
    <div class="main-content">
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html"></a>
                <!-- Form -->

                <a href="@Url.Action("logout","login")" style="color:white">
                    <i class="ni ni-user-run"></i>
                    <span>Çıxış</span>
                </a>

                <!-- User -->

            </div>
        </nav>
        @RenderBody()
    </div>

    <script src="~/Public/assets/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/Public/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Public/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
    <script src="~/Public/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
    <script src="~/Public/assets/js/argon-dashboard.js?v=1.1.0"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="~/Public/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/Public/assets/js/Costumer.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>

</html>