@using SalaryCalc.Models
@model Postion
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Vəzifələr</h3>
                                </div>
                                <div class="col-2 text-right">
                                    <a href="@Url.Action("index","positions")" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <form id="myForm" method="post" action="@Url.Action("edit","positions")">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="hidden" name="Id" value="@Model.Id" id="Id" />
                                    <label class="control-label" for="Name">Adı</label>
                                    <input type="text" autocomplete="off" class="form-control" name="Name" value="@Model.Name" id="Name" placeholder="Adı"
                                           data-validation="required" data-validation-error-msg="Qeyd edin">
                                </div>

                                <button type="submit" class="btn btn-primary mt-4">Sign in</button>
                            </form>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

