@using SalaryCalc.VwModel
@model VwRoles

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 1;
    int b = 1;
}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">İstifadəçi</h3>
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="tabs tabs-tertiary">
                                <ul class="nav nav-tabs">
                                    @foreach (var m in Model.Postions)
                                    {
                                        <li class="nav-item" >
                                            <a class="nav-link @(a == 1 ? "active" : "")" href="#tabnumber-@m.Id" data-toggle="tab">@m.Name</a>
                                        </li>
                                        a++;
                                    }

                                </ul>
                                <div class="tab-content">
                                    @foreach (var m in Model.Postions)
                                    {
                                        <div id="tabnumber-@m.Id" class="tab-pane @(b == 1 ? "active" : "") ">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                                                        <thead>
                                                            <tr>
                                                                <th>@m.Name - Bütün əməliyyatlar üzrə icazələr</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <form method="post" action="@Url.Action("Create","Roles", new {id=m.Id })">
                                                                @foreach (var role in Model.Roles)
                                                                {
                                                                    <tr>
                                                                        <td>@role.Name</td>

                                                                        @if (Model.UserRoles.Where(t => t.PostionId == m.Id).Any(w => w.RoleId == role.Id))
                                                                        {
                                                                            <td>
                                                                                <input type="checkbox" class="role-checkboxx checked" checked value="@role.Id" style="display: block!important;" />
                                                                                <input type="hidden" class="role-inputt" name="Roles[]" value="@role.Id" />
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <input type="checkbox" class="role-checkboxx" value="@role.Id" style="display: block!important;" />
                                                                                <input type="hidden" class="role-inputt" value="@role.Id" />
                                                                            </td>
                                                                        }

                                                                    </tr>
                                                                }
                                                                <tr>
                                                                    <td></td>
                                                                    <td><button class="btn btn-success ml-auto">Yadda Saxla</button></td>
                                                                </tr>
                                                            </form>
                                                        </tbody>

                                                    </table>

                                                </div>
                                            </div>
                                        </div>

                                        b++;
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






