@using SalaryCalc.Models
@model List<CalcForum>

@{
    ViewBag.Title = "Hesablama Düsturu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Hesablama</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="@Url.Action("calcmethod","calculation")" class="btn btn-sm btn-success"><i class="ni ni-fat-add"></i>Hesablama Methodu Yarat</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                   
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Adı</th>
                                            <th scope="col">Düstur</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.Name</td>
                                            <td>@item.Formula</td>
                                            <td class="text-right">
                                                <a href="@Url.Action("editcalcmethod","calculation" , new { id = item.Id})" class="btn btn-sm btn-primary">Dəyiş</a>
                                                <a onclick="return confirm('Əminsinizmi?');" href="@Url.Action("Delete","calculation" , new {id = item.Id})" class="btn btn-sm btn-danger ml-2">Sil</a>

                                            </td>
                                        </tr>
                                            i++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
