@using SalaryCalc.Models
@model Sale

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-xl-12 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">

                                <div class="col-8">
                                    <h3 class="mb-0">Yarat</h3>
                                </div>
                                <div class="col-2 text-right">
                                    <a href="@Url.Action("index","sales")" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                </div>
                            </div>
                        </div>

                        <form id="myForm" method="post" action="@Url.Action("edit","sales")">
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Name"> Adı</label>
                                        <input type="text" value="@Model.Name" required class="form-control" name="Name" id="Name" placeholder="Adı">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Price">Qiyməti</label>
                                        <input type="text" value="@Model.Price" required class="form-control" name="Price" id="Price" placeholder="Qiyməti">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Position">Işçilər</label>
                                        <select class="form-control" required name="UserId">
                                            <option value="">Secin</option>
                                            @foreach (var item in ViewBag.User)
                                            {
                                                <option value="@item.Id" @(item.Id == Model.UserId ? "selected" : "")>@item.UserName</option>
                                            }

                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row mt-5">
                                <div class="col-md-4">
                                    <label for="Vip">Vip</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" name="Vip" value="true" @(Model.Vip == true ? "checked" : "") id="Vip" aria-label="Checkbox for following text input">
                                                <input type="hidden" value="false" name="Vip" />
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" disabled placeholder="Vip" aria-label="Text input with checkbox">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="DisCount">Endirim</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" name="DisCount" value="true" @(Model.DisCount == true ? "checked" : "") id="DisCount" aria-label="Checkbox for following text input">
                                                <input type="hidden" value="false" name="DisCount" />
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" disabled placeholder="Endirim" aria-label="Text input with checkbox">
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary mt-4">Əlavə et</button>

                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


