@using SalaryCalc.Models
@model List<Sale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
        <div class="container-fluid">
            @if (Session["Success"] != null)
            {
                <div class="alert alert-success text-center">
                    @Session["Success"]
                </div>

                Session["Success"] = null;
            }
            @if (Session["Error"] != null)
            {
                <div class="alert alert-danger text-center">
                    @Session["Error"]
                </div>

                Session["Error"] = null;
            }
            <div class="header-body">
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <a href="@Url.Action("getimport","sales")" class="btn btn-sm btn-primary"><i class="ni ni-fat-add"></i>Satış Import et</a>
                                        <small id="emailHelp" class="form-text text-muted ml-3">Excel Formatında İmport Etmək</small>
                                    </div>


                                    <div class="col-4 text-right">
                                        <a href="javascript:void(0)"
                                           class="btn btn-sm btn-default" id="confirm" data-url="@Url.Action("confirmsales","sales")">
                                            <i class="ni ni-fat-add">
                                            </i>Təsdiqlə
                                        </a>
                                        <a href="@Url.Action("create","sales")" class="btn btn-sm btn-success"><i class="ni ni-fat-add"></i>Satış Yarat</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush" id="confirmTable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="checkAll" type="checkbox">
                                                    <label class="custom-control-label" for="checkAll">Hamsı</label>
                                                </div>
                                            </th>
                                            <th scope="col">İşçinin Adı</th>
                                            <th scope="col">Məhsul</th>
                                            <th scope="col">Tarix</th>
                                            <th scope="col">Qiymət</th>
                                            <th scope="col"></th>
                                            <th scope="col">Tənzimləmə</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input confirmchecked" id="check-@item.Id" type="checkbox" data-id="@item.Id">
                                                        <label class="custom-control-label" for="check-@item.Id"></label>
                                                    </div>
                                                </td>
                                                <td>@item.User.UserName</td>
                                                <td>@item.Name</td>
                                                <td>@item.Date.ToString("dd.MM.yyyy")</td>
                                                <td>@item.Price.ToString("#.00")</td>
                                                <td>
                                                    <a href="javascript:void(0)" class="tooltip-primary btn btn-sm btn-@(item.IsComfirmed ==true ?"success":"danger")"
                                                       data-type="primary">
                                                        @(item.IsComfirmed == true ? "təsdiqlənib" : "təsdiqlənməyib")
                                                    </a>
                                                </td>
                                                <td>
                                                    @if (item.IsComfirmed == false)
                                                    {
                                                        <a href="@Url.Action("edit","sales",new { id = item.Id })" class="btn btn-sm btn-primary">Dəyiş</a>
                                                        <a onclick="return confirm('Əminsinizmi?')" href="@Url.Action("delete","sales",new { id = item.Id })" class="btn btn-sm btn-danger ml-2">Sil</a>
                                                    }

                                                    <a href="@Url.Action("details","sales",new { id = item.Id })" class="btn btn-sm btn-primary">Ətraflı</a>
                                                </td>

                                            </tr>

                                        }

                                    </tbody>
                                </table>

                            </div>
                            <nav aria-label="Page navigation example" class="mt-4">
                                <ul class="pagination">

                                    @if (ViewBag.Page - 1 != 0)
                                    {
                                        <li class="page-item" data-page="@(ViewBag.Page-1)">
                                            <a class="page-link" href="@Url.Action("index","sales",new{  page = ViewBag.Page-1 })">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }

                                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                    {

                                        <li class="page-item @(i==ViewBag.Page?"active":"")" data-page="@i">
                                            <a class="page-link" href="@Url.Action("index","sales",new { page = i })">@i</a>
                                        </li>

                                    }

                                    @if (ViewBag.Page + 1 <= ViewBag.TotalPage)
                                    {
                                        <li class="page-item" data-page="@(ViewBag.Page+1)">
                                            <a class="page-link" href="@Url.Action("index","sales",new { page = ViewBag.Page+1 })">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
                    </div>

